
<div class="text-center" id="profile">
  <img class="center-block img-responsive img-circle" height="200" width="200" src="assets/img/jose.jpg"></img>
  <br>
  <div id="about">
    <ul class="list-unstyled">
      {% for item in site.data.profile.about %}
      <li class="prof-{{ item.desc }}">
         {% if item.icon %}
          <i class="fa fa-{{ item.icon }} text-center"></i>
          &nbsp;
         {% endif %}
        {{ item.val }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <br>
  <div id="social-media">
    <ul class="list-inline">
    {% for item in site.data.profile.social_media %}
    <li>
      <a href="{{ item.url }}" target="_blank" title="{{ item.desc }}">
          <img class="soc soc-{{ item.icon }}" src="assets/simple-icons/{{ item.icon }}.svg"></img>
      </a>
    </li>
    {% endfor %}
    </ul>
  </div>
</div>